<div class="container">
    <div class="row justify-content-between">
        {% for photo in photos %}
            <div class="card m-3 p-3" style="width: 25rem;">
                <div class="card-body text-center">
                    <img class='rounded img' style="height: 150px; width: 200px;" src="{{ photo.photo.url }}"
                         alt="...">
                    <h5>{{ photo.description }}</h5>
                    <h5>Автор:{{ photo.author }}</h5>
                    <p class="card-text"><small class="text-muted">{{ photo.create_date }}</small></p>
                    <a href="{% url "webapp:view_photo" photo.id %}" type="button" class="btn btn-outline-primary">
                        Детальный просмотр</a>
                    <hr>
                    <a class="like" style="text-decoration: none" data-btnToHide="unlike"
                            {% if user in photo.fav.all %} hidden {% endif %}
                       href="{% url 'api:photo_fav' photo.pk %} "><i class="bi bi-bookmark"></i>Добавить в Избранное</a>
                    <a class="unlike" style="text-decoration: none" data-btnToHide="like"
                            {% if user not in photo.fav.all %} hidden {% endif %}
                       href="{% url 'api:photo_unfav' photo.pk %}"><i class="bi bi-bookmark-fill"></i>Удалить из
                        Избранного</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>